<header class="header">
    <div class="header-background"></div>
    <div class="header-top">
        <div class="header-top-name">
            Esra Hofstede
        </div>
        <ul class="header-top-nav">
            <li class="header-top-nav-item">
                <a href="recruiter#personalia">
                    PERSONALIA
                    <span class="sign"></span>
                </a>
            </li>
            <li class="header-top-nav-item">
                <a href="recruiter#skills">
                    SKILLS
                    <span class="sign"></span>
                </a>
            </li>
            <li>
                <a href="recruiter#portfolio">
                    PORTFOLIO
                    <span class="sign"></span>
                </a>
            </li>
            <li>
                <a href="recruiter#experience">
                    WERKERVARING
                    <span class="sign"></span>
                </a>
            </li>
            <li>
                <a href="recruiter#education">
                    OPLEIDING
                    <span class="sign"></span>
                </a>
            </li>
            <li>
                <a href="#references">
                    REFERENTIES
                    <span class="sign"></span>
                </a>
            </li>
            <li>
                <a href="#blog">
                    BLOG
                    <span class="sign"></span>
                </a>
            </li>
            <li>
                <a href="#contact">
                    CONTACT
                    <span class="sign"></span>
                </a>
            </li>
            <li>
                <a href="#meer">
                    MEER
                    <span class="sign"></span>
                </a>
            </li>
        </ul>
    </div>
</header>

<personalia id="personalia"></personalia>
<pitch id="pitch"></pitch>
<skills id="skills"></skills>