<div *ngIf="skills" class="skills-container">
  <div class="skills-heading">
    <h1>
      Skills
    </h1>
  </div>
  <div class="skills-content">
    <div class="skills-programming skills">
      <h2> Programming languages</h2>
      <div *ngFor="let skill of skills.ProgrammingLanguages; let i=index" class="skill">
          <h4>{{skill.name}}</h4>
          <div class="progress">
              <div class="progress-bar" [style.width] = "getWidth(i, 'ProgrammingLanguages')" ></div>
          </div>
      </div>
    </div>
    <div class="skills-frameworks skills">
      <h2> Frameworks</h2>
      <div *ngFor="let skill of skills.Frameworks; let j=index" class="skill">
          <h4>{{skill.name}}</h4>
          <div class="progress">
              <div class="progress-bar" [style.width] = "getWidth(j, 'Frameworks')" ></div>
          </div>
      </div>
    </div>
    <div class="skills-languages-container skills">
      <h2> Talen </h2>
      <div class="skills-languages">
        <div *ngFor="let skill of skills.SpeakingLanguages; let l=index" class="skills-language">
          <svg width="100%" height="100%" viewbox="0 0 100 100">
            <circle cx="100" cy="100" [attr.r]="languagesView.radius" fill="transparent"/>
            <circle cx="100" cy="100" [attr.r]="languagesView.radius" fill="transparent" [attr.stroke-width]="languagesView.strokewidth" stroke="grey"/>
            <circle cx="100" cy="100" [attr.r]="languagesView.radius" fill="transparent" [attr.stroke-width]="languagesView.strokewidth" stroke="#00ADEE" [attr.stroke-dasharray]="languagesView.radius * 2 * 3.14" [attr.stroke-dashoffset]="(languagesView.radius * 2 * 3.14) - (languagesView.radius * 2 * 3.14) * (skill.indication * 10) / 100"/>
            <text x="100" y="-100" text-anchor="middle" fill="black" font-size="10">{{skill.name}}</text>
          </svg>
        </div>
      </div>
    </div>
    <div class="skills-knowledge-container skills">
      <h2> Knowledge</h2>
      <div class="skills-knowledge">
        <p *ngFor="let skill of skills.Knowledge; let m=index" class="knowledge">
          <span class="vinkje">✓</span> {{skill}}
        </p>
      </div>
    </div>
    <div class="skills-certificaten skills">
      <h2>
        Certificaten
      </h2>
      <div *ngFor="let certificate of skills.Certificaten; let k=index" class="certificate">
          <h4>{{certificate.name}}</h4>
          <p class="certificate-location">{{certificate.date}} / {{certificate.place}}</p>
          <p class="certificate-description"> {{certificate.description}}</p>
      </div>
    </div>
  </div>
</div>